

* {
            box-sizing: border-box;
        }

        body {
            margin: 0px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serifl;
            font-size: 1rem;
            line-height: 1.5;
            color: #333;
            overflow-x: hidden
        }

      .container-1 {
      width: 80%;
      margin: auto;
      overflow: hidden;
        }

        
.hero-bkg-animated {
  background: gray url(cogs4.jpg) repeat 0 0;
 
  box-sizing: border-box;
  -webkit-animation: slide 20s linear infinite;
}



@-webkit-keyframes slide {
    from { background-position: 0 0; }
    to { background-position: -400px 0; }
}

* {
            box-sizing: border-box;
        }

        body {
            margin: 0px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serifl;
            font-size: 1rem;
            line-height: 1.5;
            color: #333;
            overflow-x: hidden
        }

        .topnav {
            overflow: hidden;
            background-color:#4CAF50;
            position: fixed;
            width:100%;
            z-index: 10;
            box-shadow: 0 4px 18px 0 rgba(0,0,0,.12), 0 7px 10px -5px rgba(0,0,0,.15);
        }

        .topnav .text_topnav{
            font-size:25px;
            font-weight: 600;
            padding:0px;
            margin:0px;
        }

        .topnav #myLinks {
            display: none;
        }

        .topnav a {
            color: white;
            padding: 14px 16px;
            text-decoration: none;

            display: block;
        }

        .topnav a.icon {
            display: block;
            position: absolute;
            right: 0;
            top: 0;
        }





.bar1, .bar2, .bar3 {
  width: 28px;
  height: 4px;
  background-color: #fff;
  margin: 6px 0;
  transition: 0.3s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}


 .btn {
            background: #fff;
            color: ##4CAF50;
            padding: 15px;
            text-decoration: none;
            border: 1px solid #fff;
            border-radius: 3px;
            }

            .grid{
                             background-color: #4CAF50;color:#fff;

            }



    .header-content {
            z-index: 2;
        }


        .header-content h1 {
            font-size: 35px;
            margin-bottom: 0px;
        }


        .header-content p {
            display: block;
            padding-bottom: 2rem;

        }
        
.wallpaper .col-md-4{
    background-color: #fff;
    border: 1px solid #fff;
    border-radius:3px;
    margin: 10px 0px
}

      @media(max-width:958px){
        /*body{display: none;}*/
 
      .container-1 {
      width: 100%;
      margin: auto;
      overflow: hidden;
        }

        .grid{
             background-color: #4CAF50;color:#fff; clip-path:polygon(0% 3%, 100% 0%, 100% 97%, 0% 100%)
        }


        
.wallpaper .col-md-4{
background-color:#f4f4f4;
    border: 1px solid #fff;
    border-radius:3px;
    margin: 10px 0px
}
     }



.wallpaper{
    background-image: url(images/cogs4.jpg);
    background-attachment: fixed;
  /*clip-path:polygon(0% 3%, 100% 0%, 100% 97%, 0% 100%); */
  padding: 10px;
}


.showcase{
  
    background-attachment: fixed;
 
  padding: 10px;
 
  background-repeat: no-repeat;
 
    min-height: auto;
    width: auto;
    
    text-align: center;
    color: #ffffff;
    background-size: cover;
    background-attachment: local;
    margin-bottom: 0%;
    padding-top: 25vh;
}

.showcase1{
  background-image: url(images/banner\ 2.jpg) ;
   clip-path:polygon(0% 3%, 100% 0%, 100% 97%, 0% 100%); 
    height:100vh;
 /* background-attachment:fixed; */
}

.showcase2{
  background-color:#35424a;
}

.showcase3{
background-image: url(images/emma-van-sant-JkfNpgk8oNw-unsplash.jpg) ;
    height:100vh;
 /* background-attachment:fixed; */
}

        
.showcase2 .col-md-4{
background-color:#f4f4f4;    color:#333;
    border: 1px solid #fff;
    border-radius:3px;
    margin: 10px 0px
}
     }




 
