* {
            box-sizing: border-box;
        }

        body {
            margin: 0px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serifl;
            font-size: 1rem;
            line-height: 1.5;
            color: #333;
            overflow-x: hidden
        }

      .container-1 {
      width: 80%;
      margin: auto;
      overflow: hidden;
        }



.wallpaper{
    background-image: url(images/cogs4.jpg);
    background-attachment: fixed;
  /*clip-path:polygon(0% 3%, 100% 0%, 100% 97%, 0% 100%); */
  padding: 10px;
}

 

